<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    
        <h1>ADD YOUR PRODUCT DETAIL HERE</h1>
    <form action="" method="post"> 
        {% csrf_token %}

            <div class="col-my-4 mx-2 ">
                <label for="validationCustom01" class="form-label">Product name</label>
          <input type="text" name="name" id="" value="name">
        </div><br>

        <div class="col-my-4 mx-4">
          <label for="validationCustom02" class="form-label">Description</label>
          <input type="text" name="desc" id="" placeholder="Desc">
        </div><br>

        <div class="col-my-4">
          <label for="validationCustomUsername" class="form-label">Price</label>
          <input type="number" name="price" id="" value="price">
        </div><br>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">ADD</button>
          <a href="{% url 'dashboard' %}"> <button class="btn btn-primary" type="button">SHOW</button>
        </div>

    </form>
            </div>
</body>
</html>
